/* model */

.course{margin:0;} 
.btn{position: inherit;
bottom:inherit;
right:   inherit;}

.delItem{
float: right;

}

button.btn.btn-xs.edit 
{
float: right;
}

body{
align-items: inherit;
}

select option {
margin: 40px;
background: rgba(0, 0, 0, 0.3);
color: #fff;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select option[value="feito"] {
background: #28a745;
}

select option[value="pendente"] {
background: #ffc107;
}

select.status{background:#ffc107!important}

*{font-family: Muli}


.breadcrumb{background-color: whitesmoke;
  border-radius: 0;}

li.nav-item {
font-size: 20px;
}

.breadcrumb-item{font-size: 12px}
 
.course-preview > i {zoom:1.8;}

body{display: inherit;}

.divAddEntity{display: none}
a:hover {
  text-decoration: none;
		}

/* phpcrud */
.itemvalue{float: right}
li::marker { 
font-size: 0;
}
.entity_header{    background: #f5f5f5ab;}

.error-msg{color: red;}
.hidden{display: none;}

.slot{border:3px solid #928def;background:whitesmoke;}

.system_title{margin-top: 0.5rem;
margin-left: 2rem;
margin-right: 2rem;}